services:
  nginx:
    container_name: websrv
    build:
      context: .
      dockerfile: Dockerfile
    network_mode: "host"
    ports:
      - "${WEBSRV_IP:-10.1.1.30}:${WEBSRV_PORT:-443}:443"
    volumes:
      - ${HOME}/repos:/usr/share/nginx/html
    healthcheck:
      test: ["CMD-SHELL", "curl -f -k https://127.0.0.1:443/ && curl -f -k https://127.0.0.1:443/ | grep -q 'Index of' || exit 1"]
      interval: 30s
      timeout: 15s
      retries: 3
      start_period: 15s

networks:
  my_network:
    external: true
